.down {
    z-index: 99;
    position: absolute;
    bottom: 20px;
    left: 48.5vw;
    animation-name: showele, down, bright;
    animation-duration: 8s, 1s, 1s;
    animation-direction: normal, alternate, alternate;
    animation-iteration-count: 1, infinite, infinite;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1), cubic-bezier(0, 0, 0.2, 1), ease;
    filter: drop-shadow(0px 0px 20px rgb(255, 255, 255))
}

@keyframes down {
    0% {
        bottom: 20px
    }

    100% {
        bottom: 40px
    }
}

@keyframes bright {
    0% {
        filter: drop-shadow(0px 0px 20px rgb(255, 255, 255)) invert(0);
    }

    100% {
        filter: drop-shadow(0px 0px 10px rgb(255, 255, 255)) invert(0.3);
    }
}

@keyframes showele {
    0% {
        opacity: 0
    }

    50% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

.arrowl,
.arrowr {
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    width: 40px;
    height: 5px;
}

.arrowl {
    position: relative;
    rotate: 45deg;
    left: -21px;
}

.arrowr {
    position: relative;
    rotate: -45deg;
    left: 4px;
    bottom: 5px;
}

#arr3 {
    bottom: 30px
}

#arr4 {
    bottom: 35px
}

#arr5 {
    bottom: 60px
}

#arr6 {
    bottom: 65px
}