/* CSS Document */


.event_title {
	font-weight: 500;
	font-size: 46px;
	text-align: left;
	padding-top: 100px;
	padding-left: 15%;
	color: #027fff;
}

.title-content {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	background: #FFFFFF;
	width: 70%;
	height: 15%;
	border-radius:15px;
	background-size: cover;
}

#race {
	background-image: url("../../img/race.jpg");
	
}

#ironmam {
	background-image: url("../../img/ironman.jpg");
}

#watergun {
	background-image: url(../../img/watergun.png);
}

#bigthx {
	background-image: url(../../img/bigthx.jpeg);
}

#Alice {
	background-image: url(../../img/acecardfire.jpg);background-size: 750px 918px;background-position:0px -100px;
}

.plus{
	position: absolute;
	bottom:30px;
	right: 20px;
	height: 45px;
	width: 45px;
	border-radius: 50px;
	background-color: rgb(255, 255, 255);
}
.plus .bar1 {
	position:relative;
    width: 26px;
    height: 4px;
	border-radius: 50px;
    background-color: rgb(0, 0, 0);
	top:14.4px;
	right: -9.2px;
    transition: 0.4s;
}

.plus .bar2{
	position:relative;
	width: 26px;
    height: 4px;
	border-radius: 50px;
	top: 4px;
	right: -8.9px;
    background-color: rgb(0, 0, 0);
    transition: 0.4s;
	rotate: 90deg;
}

.expand .bar1{
	rotate: -45deg;
}
.expand .bar2{
	rotate: 45deg;
}
#race.title-content .content{
	position: absolute;
	background-color: rgba(61, 68, 66, 0.555);
	color:#FFFFFF;
	right:0;
	width:100%;
	height: 100%;
	border-radius: 15px;
	transition: 0.4s;
}

#race.expand .content{
	opacity: 0;
	visibility: hidden;
	/* position: absolute; */
	/* color:#FFFFFF; */
	/* background-color: aquamarine; */
	/* right:0; */
	width:0%;
	/* height: 100%; */
	/* border-radius: 15px ; */
}
.intro {
	display: flex;
	flex-direction: column;
	font-weight: 100;
	/* 水平置中 */
  	justify-content: center;    
  	/* 垂直置中 */
  	align-content: center; 
	
}

p {
	font-size: 1.3em;
	margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
