.main-service {
    padding-top: 10px;
    padding-left: 260px;
}

.main-service p {
    padding-top: 10px;
    font-size: 1.2rem;
}

.text-left {
    text-align: left;
}

.newdate {
    color: rgb(253, 100, 100);
    font-weight: bold;
}

section {
    height: 80%;
    width: 100%;
}


.main-img {
    background-color: #a0957e;
    margin: 5em;
    margin-top: 2em;
    margin-left: 10em;
    width: 30%;
    border: 3px solid #595449;
    padding: 10px;
}

.newdate {
    color: rgb(253, 100, 100);
    font-weight: bold;
}

/* light slider width */
#lightslider img {
    height: 300px;
}

#content {
    height: 100%;
}

.celebrate p {
    font-size: 1.7rem;
    line-height: 3.5rem;
    border: 1px solid #595449;
    padding: 50px;
}

.celebrate p span {
    color: #990000;
    font-weight: bold
}

.news {
    /* padding-top: 30px; */
    display: flex;
}