@font-face {
    font-family: Misans;
    src: url('MiSans-Regular.ttf') format('truetype');
}

.menu {
    /* display: none; */
}

nav {
    position: fixed;
    top: 0px;
    right: 0px;
    background-color: #383636;
    width: 3.8%;
    height: 100%;
    z-index: 2;
    margin: 0px;
    text-align: center;
}

main {
    background-color: #efdeb9;
    margin: -0px;
    text-align: center;
    min-height: 1080px;
    /* padding-bottom: 577px; */

}

#content {
    height: 200%;
    width: 100%;
}

#contenttext {
    padding-top: 25%;
}

#content2 {
    height: auto;
    width: auto;
}

#contenttext2 {
    padding-top: 25px;
    font-size: 0.5em;
}

/* footer {
    background-color: #595449;
    height: 8.98%; disable
    right:71.3px;
    margin-right: 71.3px;
    z-index: 0;
    margin: 0; disable
    text-align:center;
} */

.left {
    width: 96.2%;
    min-height: 100%;
}

.right {
    width: 3.8%;

}

html,
body {
    height: 100%;
    width: 100%;
    font-family: MiSans;
    /* font-size: 32px; */
}

body {
    margin: 0%;
}

#btn {
    position: fixed;
    height: 72px;
    width: 72px;
    bottom: 10%;
    left: 0.5%;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #443F32;
    opacity: 0.5;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 100%;
}

#btn:hover {
    background-color: #302c23;
}

.menu {
    /* position: fixed; */
    display: flex;
    flex-flow: column nowrap;
    position: fixed;
    color: white;
    top: 0px;
    right: 71.3px;
    width: 100%;
    height: 100%;
    background-color: #423b2a;
    opacity: 0;
    z-index: -100;
    transition:
        opacity 1s ease;
    /* clear:both */
    animation: fadeOutAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.change {
    opacity: 1;
    z-index: 100;
    /* display:block; */
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

}

#menutext {
    margin-top: 5%;
}

@keyframes fadeInAnimation {
    0% {
        z-index: 100;
    }

    100% {
       z-index: 100;
    }

}

@keyframes fadeOutAnimation {
    0% {
        z-index: 100;
    }

    99% {
        z-index: 100;
    }

    100% {
        z-index: -100;
    }
}

.hamburger {
    display: inline-block;
    cursor: pointer;
    margin-top: 10px;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: rgb(255, 255, 255);
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}

.menulist a {
    position: relative;
    top: 50px;
    left: 450px;
    color: #FFFFFF;
    font: small-caps bold 24px/1 sans-serif;
    text-decoration: none;
}





/*########################*/
.container {
    padding-top: 40px;
    padding-right: 240px;
    padding-left: 240px;
    margin-right: auto;
    margin-left: auto;
}


.main-service {
    padding-top: 10px;
    padding-left: 260px;
}

.main-service p {
	padding-top: 10px;
	font-size: 1.2rem;
}

.text-left {
    text-align: left;
}

.newdate {
    color: rgb(253, 100, 100);
    font-weight: bold;
}
section {
	height: 80%;
    width: 100%;
}


.main-img {
	background-color: aqua;
	margin: 5em;
    margin-left:10em;
  	width: 30%;
  	border: 3px solid green;
  	padding: 10px;
}

.newdate {
    color: rgb(253, 100, 100);
    font-weight: bold;
}
/* light slider width */
#lightslider img{
    height: 300px;
}
